<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantilla/blank}">
<head>
<meta charset="UTF-8">
<title>Equipo</title>
</head>

<body>

	<div layout:fragment="contenedor">
		<section>

			<div id="page-wrapper">
				<div class="container-fluid">

					<div class="row">
						<div class="col-lg-12">
							<h1 class="page-header">Equipo</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="mb-3">
								<label class="form-label">Corredor</label> <select
									id="corredorId" onchange="enviarCorredorId(this.value)"
									class="form-select">
									<option value="0">-Seleccione-</option>
									<option th:each="corredor: ${listaCorredor}"
										th:text="${corredor.Nombre}" th:value="${corredor.Id}"></option>
								</select>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="mb-3">
								<label class="form-label">Parada</label> <select id="paradaId"
									class="form-select" onchange="enviarIdParada(this.value)">
									<option value="0">-Seleccione-</option>
									<option></option>
								</select>
							</div>
						</div>
					</div>

					<div id="agregar" class="row">
						<div class="col-lg-12">
							<a th:href="@{/nuevoequipo}"><button type="button"
									class="btn btn-success">
									<i class="fa fa-plus"></i>
								</button></a>
						</div>
					</div>
					<!-- /.row -->
					<div id="equipoTableContainer" class="table-responsive">

						<!-- La tabla será insertada aquí dinámicamente -->

					</div>

					<!-- La imagen será mostrada aquí dinámicamente -->
					<h1>Image Viewer</h1>
					<div id="foto-container">
						<!-- Aquí se mostrará la imagen -->
					</div>

				</div>
			</div>

			<script th:inline="javascript">
		function enviarCorredorId(corredorId) {
			if (corredorId !== "0") {
				// Llamada fetch para enviar el id al controlador
				fetch(`/api/photos/cargarSelectParada/${corredorId}`, {
					method: 'GET', // Usa GET si solo estás enviando el id como parte de la URL
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					}
				})
					.then(response => {
						if (!response.ok) {
							throw new Error('Error al cargar las paradas');
						}
						return response.json();
					})
					.then(paradas => {
						// Aquí puedes procesar los datos que te devuelve el servidor (por ejemplo, las paradas)
						const paradaSelect = document.getElementById("paradaId");
						
						// Limpiamos las opciones previas
		                paradaSelect.innerHTML = '<option value="0">-Seleccione-</option>';
		                
		                paradas.forEach(parada => {
		                    const option = document.createElement("option");
		                    option.value = parada.id;
		                    option.text = parada.nombre;
		                    paradaSelect.appendChild(option);
		                });
		                
					})
					.catch(error => console.error('Error:', error));
			}else{
				const paradaSelect = document.getElementById("paradaId");
	            paradaSelect.innerHTML = '<option value="0">-Seleccione-</option>';
			}
		}
		
		function enviarIdParada(paradaId) {
		    if (paradaId !== "0") {
		        // Hacemos la solicitud al controlador
		        fetch(`/filtroequipo/${paradaId}`, {
		            method: 'GET',
		            headers: {
		            	'Accept': 'text/html', // se espera recibir un fragmento HTML
		            }
		        })
		        .then(response => {
		            if (!response.ok) {
		                throw new Error('Error al cargar los equipos');
		            }
		            return response.text(); // Procesamos la respuesta como text
		            
		        })
		        .then(html => {
		        	
		        	document.getElementById('equipoTableContainer').style.display = 'block';
		            // Reemplazamos la tabla actual con la nueva tabla
		            document.getElementById('equipoTableContainer').innerHTML = html;
		        })
		        .catch(error => {
		            console.error('Error:', error);
		        });
		    } else {
		        // Si paradaId es "0", ocultamos la tabla
		        document.getElementById('equipoTableContainer').style.display = 'none';
		    }
		}
		
		function mostrarFoto(filaTabla){
			const fkParada = filaTabla.getAttribute('data-fkparada');
			const serial = filaTabla.getAttribute('data-serial');
			
			console.log("fkParada capturado: ", fkParada);
			console.log("Serial capturado: ", serial);
			
			const url = `/api/photos/view/${fkParada}/${serial}`;
			
			console.log("URL para enviar:", url);
			
			fetch(url,  {
		        method: 'GET',
		        headers: {
		            'Accept': 'image/jpeg,image/png,image/gif' // Esperamos recibir una imagen
		        }
			})
	        .then(response => {
	        	if (!response.ok) {
	                throw new Error('Error al obtener la parada');
	            }
	        	return response.blob();
	        })
	        .then(imageBlob => {
		     // Crear una URL para la imagen descargada
		     const imageObjectURL = URL.createObjectURL(imageBlob);
     
		     // Mostrar la imagen en un div con id 'foto-container'
		     const imgElement = document.createElement('img');
		     imgElement.src = imageObjectURL;
		     imgElement.alt = "Imagen del equipo";
		     imgElement.style.maxWidth = "100%";  // Ajustar tamaño si es necesario
     
		     const divContainer = document.getElementById('foto-container');
		     divContainer.innerHTML = ''; // Limpiar el div antes de insertar la imagen
		     divContainer.appendChild(imgElement);
 			
	        })
	        .catch(error =>{
	        	console.error('Error:', error);
	        });
		}
		
		
				
	</script>

		</section>
	</div>


</body>

</html>