<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantilla/blank}">
<head>
<style>
.horizontal-gallery {
	display: flex;
	justify-content: center; /* Centra las imágenes horizontalmente */
	gap: 20px; /* Espacio entre las imágenes */
}

.photo-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo-wrapper img {
	max-width: 200px; /* Ajusta el tamaño de la imagen a tu preferencia */
	margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.photo-label {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
</style>
<meta charset="UTF-8">
<title>Equipo</title>
</head>

<body>

	<div layout:fragment="contenedor">
		<section>

			<div id="page-wrapper">
				<div class="container-fluid">

					<div class="row">
						<div class="col-lg-12">
							<h1 class="page-header">Equipo</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="mb-3">
								<label class="form-label">Corredor</label> <select
									id="corredorId" onchange="enviarCorredorId(this.value)"
									class="form-select">
									<option value="0">-Seleccione-</option>
									<option th:each="corredor: ${listaCorredor}"
										th:text="${corredor.Nombre}" th:value="${corredor.Id}"></option>
								</select>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="mb-3">
								<label class="form-label">Parada</label> <select id="paradaId"
									class="form-select" onchange="enviarIdParada(this.value)">
									<option value="0">-Seleccione-</option>
									<option></option>
								</select>
							</div>
						</div>
					</div>

					<div id="agregar" class="row">
						<div class="col-lg-12">
							<a th:href="@{/nuevoequipo}"><button type="button"
									class="btn btn-success">
									<i class="fa fa-plus"></i>
								</button></a>
						</div>
					</div>
					<!-- /.row -->
					<div id="equipoTableContainer" class="table-responsive">

						<!-- La tabla será insertada aquí dinámicamente -->

					</div>

					<!-- La imagen será mostrada aquí dinámicamente -->
					<h1>Image Viewer</h1>
					<div id="foto-container" class="horizontal-gallery">
						<!-- Aquí se mostrará la imagen -->
					</div>

				</div>
			</div>

			<script th:inline="javascript">
					function enviarCorredorId(corredorId) {
						if (corredorId !== "0") {
							// Llamada fetch para enviar el id al controlador
							fetch(`/api/photos/cargarSelectParada/${corredorId}`, {
								method: 'GET', // Usa GET si solo estás enviando el id como parte de la URL
								headers: {
									'Accept': 'application/json',
									'Content-Type': 'application/json'
								}
							})
								.then(response => {
									if (!response.ok) {
										throw new Error('Error al cargar las paradas');
									}
									return response.json();
								})
								.then(paradas => {
									// Aquí puedes procesar los datos que te devuelve el servidor (por ejemplo, las paradas)
									const paradaSelect = document.getElementById("paradaId");
									
									// Limpiamos las opciones previas
					                paradaSelect.innerHTML = '<option value="0">-Seleccione-</option>';
					                
					                paradas.forEach(parada => {
					                    const option = document.createElement("option");
					                    option.value = parada.id;
					                    option.text = parada.nombre;
					                    paradaSelect.appendChild(option);
					                });
					                
								})
								.catch(error => console.error('Error:', error));
						}else{
							const paradaSelect = document.getElementById("paradaId");
				            paradaSelect.innerHTML = '<option value="0">-Seleccione-</option>';
						}
					}
		
					function enviarIdParada(paradaId) {
					    if (paradaId !== "0") {
					        // Hacemos la solicitud al controlador
					        fetch(`/filtroequipo/${paradaId}`, {
					            method: 'GET',
					            headers: {
					            	'Accept': 'text/html', // se espera recibir un fragmento HTML
					            }
					        })
					        .then(response => {
					            if (!response.ok) {
					                throw new Error('Error al cargar los equipos');
					            }
					            return response.text(); // Procesamos la respuesta como text
					            
					        })
					        .then(html => {
					        	
					        	document.getElementById('equipoTableContainer').style.display = 'block';
					            // Reemplazamos la tabla actual con la nueva tabla
					            document.getElementById('equipoTableContainer').innerHTML = html;
					        })
					        .catch(error => {
					            console.error('Error:', error);
					        });
					    } else {
					        // Si paradaId es "0", ocultamos la tabla
					        document.getElementById('equipoTableContainer').style.display = 'none';
					    }
					}
		
					function mostrarFoto(filaTabla){
						const fkParada = filaTabla.getAttribute('data-fkparada');
						const idEquipo = filaTabla.getAttribute('data-idEquipo');
						
						console.log("fkParada capturado: ", fkParada);
						console.log("idEquipo capturado: ", idEquipo);
						
						const url = `/api/photos/view/${fkParada}/${idEquipo}`;
						
						console.log("URL para enviar:", url);
						
						fetch(url,  {
					        method: 'GET',
					        headers: {
					            'Accept': 'image/jpeg,image/png,image/gif' // Esperamos recibir una imagen
					        }
						})
				        .then(response => {
				        	if (!response.ok) {
				                throw new Error('Error al obtener la parada');
				            }
				        	return response.blob();
				        })
				        .then(imageBlob => {
					     // Crear una URL para la imagen descargada
					     const imageObjectURL = URL.createObjectURL(imageBlob);
			     
					     // Mostrar la imagen en un div con id 'foto-container'
					     const imgElement = document.createElement('img');
					     imgElement.src = imageObjectURL;
					     imgElement.alt = "Imagen del equipo";
					     imgElement.style.maxWidth = "100%";  // Ajustar tamaño si es necesario
			     
					     const divContainer = document.getElementById('foto-container');
					     divContainer.innerHTML = ''; // Limpiar el div antes de insertar la imagen
					     divContainer.appendChild(imgElement);
			 			
				        })
				        .catch(error =>{
				        	console.error('Error:', error);
				        });
					}
					
					function mostrarFotoUrls1(filaTabla){
						const fkParada = filaTabla.getAttribute('data-fkparada');
						const idEquipo = filaTabla.getAttribute('data-idEquipo');
						
						console.log("fkParada capturado: ", fkParada);
						console.log("idEquipo capturado: ", idEquipo);
						
						const url = `/api/photos/viewList/${fkParada}/${idEquipo}`;
						
						console.log("URL para enviar:", url);
						
						fetch(url,  {
					        method: 'GET',
					        headers: {
					            'Accept': 'application/json' // Esperamos recibir una imagen
					        }
						})
				        .then(response => {
				        	if (!response.ok) {
				                throw new Error('Error al obtener la lista de fotos');
				            }
				        	return response.json();
				        })
				        .then(photoUrls => {
					     // Crear una URL para la imagen descargada
					     const divContainer = document.getElementById('foto-container');
					     divContainer.innerHTML = ''; // Limpiar el div antes de insertar la imagen
					     
					     photoUrls.forEach(photoUrl => {			     
					     // Mostrar la imagen en un div con id 'foto-container'
					     const imgElement = document.createElement('img');
					     imgElement.src = photoUrl;
					     imgElement.alt = "Imagen del equipo";
					     imgElement.style.maxWidth = "100%";  // Ajustar tamaño si es necesario			     
					     
					     console.log("URLs de las imágenes:", photoUrls);
					 	 // Insertar la imagen en el contenedor
					     divContainer.appendChild(imgElement);
					     });
				        })
				        .catch(error =>{
				        	console.error('Error:', error);
				        });
					}
					
					function mostrarFotoUrls2(filaTabla){
						const fkParada = filaTabla.getAttribute('data-fkparada');
						const idEquipo = filaTabla.getAttribute('data-idEquipo');
						
						console.log("fkParada capturado: ", fkParada);
						console.log("idEquipo capturado: ", idEquipo);
						
						const url = `/api/photos/viewList/${fkParada}/${idEquipo}`;
						
						console.log("URL para enviar:", url);
						
						fetch(url,  {
					        method: 'GET',
					        headers: {
					            'Accept': 'application/json' // Esperamos recibir una imagen
					        }
						})
				        .then(response => {
				        	if (!response.ok) {
				                throw new Error('Error al obtener la lista de fotos');
				            }
				        	return response.json();
				        })
				        .then(photoUrls => {
				            const divContainer = document.getElementById('foto-container');
				            divContainer.innerHTML = ''; // Limpiar el div antes de insertar las imágenes
				            
				            // Crear la estructura de las dos imágenes con etiquetas
				            if (photoUrls.length >= 2) {
				                // Primera imagen (Antes)
				                const divAntes = document.createElement('div');
				                divAntes.style.display = 'inline-block'; // Mostrar en línea (horizontal)
				                const imgAntes = document.createElement('img');
				                imgAntes.src = photoUrls[0]; // Primer URL
				                imgAntes.alt = "Imagen anterior del equipo";
				                imgAntes.style.maxWidth = "50%";
				                imgAntes.style.display = 'block'; // Para que el label esté debajo
				                const labelAntes = document.createElement('label');
				                labelAntes.innerText = "Antes";
				                labelAntes.style.display = 'block'; // Mostrar debajo de la imagen

				                divAntes.appendChild(imgAntes);
				                divAntes.appendChild(labelAntes);
				                
				                // Segunda imagen (Después)
				                const divDespues = document.createElement('div');
				                divDespues.style.display = 'inline-block'; // Mostrar en línea (horizontal)
				                const imgDespues = document.createElement('img');
				                imgDespues.src = photoUrls[1]; // Segundo URL
				                imgDespues.alt = "Imagen reciente del equipo";
				                imgDespues.style.maxWidth = "50%";
				                imgDespues.style.display = 'block'; // Para que el label esté debajo
				                const labelDespues = document.createElement('label');
				                labelDespues.innerText = "Después";
				                labelDespues.style.display = 'block'; // Mostrar debajo de la imagen

				                divDespues.appendChild(imgDespues);
				                divDespues.appendChild(labelDespues);
				                
				                // Añadir ambas imágenes con sus etiquetas al contenedor
				                divContainer.appendChild(divAntes);
				                divContainer.appendChild(divDespues);
				            } else {
				                // Manejar el caso cuando no haya suficientes imágenes
				                const noImagesMessage = document.createElement('p');
				                noImagesMessage.innerText = 'No hay suficientes imágenes disponibles.';
				                divContainer.appendChild(noImagesMessage);
				            }

				            console.log("URLs de las imágenes:", photoUrls);
				        })
				        .catch(error => {
				            console.error('Error:', error);
				        });
					}
					
					function mostrarFotoUrls(filaTabla){
						const fkParada = filaTabla.getAttribute('data-fkparada');
						const idEquipo = filaTabla.getAttribute('data-idEquipo');
						
						console.log("fkParada capturado: ", fkParada);
						console.log("idEquipo capturado: ", idEquipo);
						
						const url = `/api/photos/viewList/${fkParada}/${idEquipo}`;
						
						console.log("URL para enviar:", url);
						
						
						fetch(url,  {
					        method: 'GET',
					        headers: {
					            'Accept': 'application/json' // Esperamos recibir una imagen
					        }
						})
				        .then(response => {
				        	if (!response.ok) {
				                throw new Error('Error al obtener la lista de fotos');
				            }
				        	return response.json();
				        })
				        .then(photoUrls => {
				        	const divContainer = document.getElementById('foto-container');
				            divContainer.innerHTML = ''; // Limpiar el div antes de insertar las imágenes
				            
				         // Comprobar si no hay imágenes para mostrar
				            if (photoUrls.length === 0) {
				                const noImagesMessage = document.createElement('p');
				                noImagesMessage.innerText = "No hay imágenes para mostrar.";
				                noImagesMessage.style.color = "red"; // Cambiar color del texto a rojo
				                noImagesMessage.style.textAlign = "center";
				                noImagesMessage.style.fontSize = "18px";
				                divContainer.appendChild(noImagesMessage); 
				                return; // Salir de la función
				            }
				            
				            // Crear la estructura de las dos imágenes con etiquetas
				            if (photoUrls.length >= 2) {
				                // Primera imagen (Antes)
				                const divAntes = document.createElement('div');
				                divAntes.style.display = 'inline-block'; // Mostrar en línea (horizontal)
				                const imgAntes = document.createElement('img');
				                imgAntes.src = photoUrls[0]; // Primer URL
				                imgAntes.alt = "Imagen anterior del equipo";
				                imgAntes.style.maxWidth = "100%";
				                imgAntes.style.display = 'block'; // Para que el label esté debajo
				                const labelAntes = document.createElement('label');
				                labelAntes.innerText = "Antes";
				                labelAntes.style.display = 'block'; // Mostrar debajo de la imagen

				                divAntes.appendChild(imgAntes);
				                divAntes.appendChild(labelAntes);
				                
				                // Segunda imagen (Después)
				                const divDespues = document.createElement('div');
				                divDespues.style.display = 'inline-block'; // Mostrar en línea (horizontal)
				                const imgDespues = document.createElement('img');
				                imgDespues.src = photoUrls[1]; // Segundo URL
				                imgDespues.alt = "Imagen reciente del equipo";
				                imgDespues.style.maxWidth = "100%";
				                imgDespues.style.display = 'block'; // Para que el label esté debajo
				                const labelDespues = document.createElement('label');
				                labelDespues.innerText = "Después";
				                labelDespues.style.display = 'block'; // Mostrar debajo de la imagen

				                divDespues.appendChild(imgDespues);
				                divDespues.appendChild(labelDespues);
				                
				                // Añadir ambas imágenes con sus etiquetas al contenedor
				                divContainer.appendChild(divAntes);
				                divContainer.appendChild(divDespues);
				                
				            }else if(photoUrls.length === 1){
				            	const divActual = document.createElement('div');
				            	divActual.style.display = 'inline-block'; 
				                const imgActual = document.createElement('img');
				                imgActual.src = photoUrls[0];
				                imgActual.alt = "Imagen única del equipo";
				                imgActual.style.maxWidth = "50%";
				                imgActual.style.display = 'block';
				                const labelActual = document.createElement('label');
				                labelActual.innerText = "Actual";
				                labelActual.style.display = 'block'; 

				                divActual.appendChild(imgActual);
				                divActual.appendChild(labelActual);
				                
				             	// Añadir la imagen con su etiqueta al contenedor
				                divContainer.appendChild(divActual);			                
				            }
				            
				            console.log("URLs de las imágenes:", photoUrls);
				        })
				        .catch(error => {
				            console.error('Error:', error);				            
				        });
					}	
				
	</script>

		</section>
	</div>


</body>

</html>